.hide{
	display:none !important;
}

.clear{
	clear:both;
}

label {
	color: #45A7BA;
}
.bold{
	font-weight: bold !important;
}

.form-control {
	border-color: #d2d6de;
	border-color: #E2E6EB;
	border-radius: 3px;
}

.rounded {
	border-radius: .25rem;
}

.box.slim {
	border-width: 1px;
}

.fa-ft15px {
    font-size: 15px !important;
}

.table-bordered>thead>tr>th.center, 
.table-bordered>thead>tr>td.center {
    text-align:center;
}
.table>tbody>tr>td.center, 
.table>tfoot>tr>td.center {
		text-align:center;
}

.table-bordered>thead>tr>th{
	border: 1px solid #E6E6E6 !important;
	background-color: #f4f4f4;
}


.mg-empcode{
	margin-top: 5px !important;
  margin-bottom: 3px !important;
}

/*
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
*/

.push-to-bottom {
    position: absolute;
    bottom: 15px;
}
.btn-block {
    display: block;
    width: 100%;
}


/**
 * --------------------------------------------------------
 * bg do historico de denuncias
 * --------------------------------------------------------
**/
.timeline-respostas{
	margin-top: 50px;
}
.timeline-respostas .bg-red{
	background-color: #ED9E96 !important;
}

.status-analista{

}
.status-analista .bg-green{
		background-color: #A7E6A4 !important;
}
.status-analista .btn-success {
    background-color: #00a65a;
    border-color: #008d4c;

		background-color: #A7E6A4 !important;
		border-color: #A7E6A4 !important;
		color: #FFFFFF;
}


.timeline-formulario{
		margin-top: 50px;
}


.direct-chat-warning .right>.direct-chat-text.bgcustom {
		background: #f39c12;
		border-color: #f39c12;
		background: #F2CEA5;

		background: #F5B141;
		border-color: #F5B141;

		color: #fff;
}

.direct_chat_admin .direct-chat-text{
    background: #d2d6de;
		background: #99CC99 !important;
    border: 1px solid #d2d6de;
		border: 1px solid #99CC99 !important;
}

.direct_chat_admin .direct-chat-text:after, 
.direct_chat_admin .direct-chat-text:before {
		border-right-color: #99CC99 !important;
}

.direct-chat-aprovada {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #444;

		background: #99CC99 !important;
		border: 1px solid #99CC99 !important;
}
.direct-chat-aprovada.naoprov {
		background: #FFC4C4 !important;
		border: 1px solid #FFC4C4 !important;
}
.direct-chat-aprovada h3 {
		margin:0;
		padding:0
}
.direct-chat-aprovada .texto {
		margin-top:2px;
		margin-left:10px;
}

.direct-chat-anexos {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    margin: 5px 0 0 50px;
    color: #444;
		background: none !important;
		border: 0px solid #ccc !important;
}

.direct-chat-anexos h3 {
		margin:0;
		padding:0
}
.direct-chat-anexos .texto {
		margin-top:2px;
		margin-left:10px;
}



.bg-yellow-custom{
		background-color: #F9D18E !important;
		border-color: #F5B141;
		border:2px solid #F5B141 !important;
}

.widget-user-2.custom .widget-user-image>img {
    width: 45px;
    height: auto;
    float: left;
}
.widget-user-2.custom .widget-user-username, 
.widget-user-2.custom .widget-user-desc {
    margin-left: 60px;
}
.widget-user-2.custom .widget-user-desc {
    line-height: 1.2;
}
.widget-user-2.custom2 .widget-user-username, 
.widget-user-2.custom2 .widget-user-desc {
    margin-left: 50px;
}
.widget-user-2.custom3 .widget-user-username, 
.widget-user-2.custom3 .widget-user-desc {
    margin-left: 0px;
}
.widget-user-2.custom .widget-user-username {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 300;
}
.widget-user-2.custom4 .widget-user-username, 
.widget-user-2.custom4 .widget-user-desc {
    margin-left: 0px;
}
.widget-user-2.custom .widget-user-username,
.widget-user-2.custom2 .widget-user-username,
.widget-user-2.custom3 .widget-user-username,
.widget-user-2.custom4 .widget-user-username {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 300;
}

.widget-user-2.custom .widget-user-header, 
.widget-user-2.custom2 .widget-user-header, 
.widget-user-2.custom3 .widget-user-header, 
.widget-user-2.custom4 .widget-user-header{
	min-height: 85px;
	min-height: 116px;
	padding: 12px;
}

.modal-dialog {
  width: 100%;
  height: 100%;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
		overflow:auto;


    height: 100% !important;
    min-height: 100% !important;
    overflow: hidden !important;
}

.modal-custom{
		width: 95% !important;
    height: 85% !important;
}

.modal-body {
    position: relative;
    padding: 15px;
    overflow: auto;
    height: 100%;

    height: -moz-calc(100% - (70px));
    height: -webkit-calc(100% - (70px));
    height: calc(100% - (70px));
}


.form-group-sm{
		margin-bottom: 0px !important;
}



.hidden-print { display: none; }
.show-print { display: block; }

@media print {
	.hidden-print { display: block !important; }
	.show-print { display: none !important; }
}



.main-sidebar .user-panel-img-lg {
	display: block;
}
.main-sidebar .user-panel-img-mini {
	display: none;
}
.sidebar-mini.sidebar-collapse .main-sidebar .sidebar .user-panel > .user-panel-img-mini {
	display: block;
}
.sidebar-mini.sidebar-collapse .main-sidebar .sidebar .user-panel > .user-panel-img-lg {
	display: none;
}