

@media screen and (max-width: 767px) {

	.hide-mobile{
			display:none !important;	
	}

	header {
			height: 450px !important;
	}

	.canalOuvidoria-banner {
			width: 90%;
			left: 50%;
			transform: translate(-50%, -50%);
	}

	.tab-content {
			border-top: 1px solid #ddd;
			border-radius: 4px 4px 4px 4px;
	}

	.nav-tabs.nav-justified>li>a {
			margin-right: 0;
			border-radius: 4px;
			border: 1px solid #ddd;
			background-color: #eee;
	}
	.nav-tabs.nav-justified>.active>a, 
	.nav-tabs.nav-justified>.active>a:focus, 
	.nav-tabs.nav-justified>.active>a:hover {
			border: 1px solid #ddd;
			background-color: #fff;
	}


	.footer-space{
			margin-bottom: 200px;
	}
	.footer-direitos .text-copy{
    margin-top:5px;
}
	.footer-direitos .copyright{
			margin: 0 auto !important;
			text-align:center;
	}
	.footer-direitos .attribution{
			margin: 0 auto !important;
			text-align:center;
	}


}


@media screen and (min-width: 768px) {
	.hide-mobile{
			display:block !important;	
	}

}